/* Guide

Brand Colours:
- Primary: #3F2305
- Secondary: #DFD7BF
- Background: #F5F5F5
- Text: #000000
- Other: #F2EAD3

Google Font:
- Kodchasan: 300lig, 400reg, 400ital, 700bol

Links Order:
- link, visited, hover, focus, active
colours:
- visited = default
- hover/focus = active
- hover/focus ≠ default

*/

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Default text elements ************************************************************************************************/
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Kodchasan', sans-serif;
    background-color: #F5F5F5;
    color: #000000;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: 2.55em;
}

h2 {
    font-size: 2.25em;
}

h3,
h4 {
    font-weight: 400;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.25em;
}

img {
    width: 100%;
}

/* general links */
a,
a:visited {
    color: #3F2305;
}

a:hover,
a:focus {
    color: #DFD7BF;
    text-decoration: none;
}

a:active {
    color: #DFD7BF;
}

/* homepage */
#homePage h1,
#homePage h2 {
    text-align: center;
}

/* project links */
.button {
    background-color: #F2EAD3;
    color: #3F2305;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border-bottom: #3F2305 solid 2px;
    text-decoration: none;
    transition: all 0.2s;
}

.button:visited {
    background-color: #F2EAD3;
    color: #3F2305;
}

.button:hover {
    background-color: #000000;
    color: #DFD7BF;
    opacity: 0.8;
    text-decoration: none;
}

.button:focus,
.button:active {
    background-color: #000000;
    color: #DFD7BF;
    text-decoration: none;
}

/* email links */
.button.email {
    background-color: transparent;
    color: #3F2305;
    text-transform: uppercase;
    border: 2px solid #3F2305;
}

.button.email:visited {
    background-color: transparent;
    color: #3F2305;
}

.button.email:hover,
.button.email:focus {
    background-color: #3F2305;
    color: #F2EAD3;
}

.button.email:active {
    background-color: #3F2305;
    color: #F2EAD3;
    font-weight: 700;
}

/* footer icons */
.fa-brands {
    font-size: 2rem;
    color: #3F2305;
    text-decoration: none;
}

.fa-brands:visited {
    color: #3F2305;
}

.fa-brands:hover,
.fa-brands:focus,
.fa-brands:active {
    color: #DFD7BF;
}

/* Layout styling ************************************************************************************************/
.container {
    padding: 0 15px;
}

#projects .row {
    margin: 25px 0;
    border-bottom: 2px solid #3F230533; /* added '33' for 20% transparency */
    padding-bottom: 25px;
}

#projects .row:last-child {
    margin: 0;
    border-bottom: none;
}

/* navbar */
header {
    background-color: #C4B37D;
    text-align: center;
    padding: 10px 0;
    box-shadow: 5px 5px 15px 3px #3F2305;
    position: fixed;
    width: 100%;
}

.logo img {
    max-width: 140px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3F2305;
    text-decoration: none;
}

nav > ul > li > a:visited {
    color: #3F2305;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus,
nav > ul > li > a:active {
    color: #DFD7BF;
}

/* about me */
#aboutMe img {
    border: 10px solid #3F2305;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px #F2EAD3;
}

.cv-container {
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type: square;
}

/* self-intro */
main {
    padding-top: 105.01px;
}

#selfIntro {
    background-color: #F2EAD3;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#selfIntro span {
    display: block;
    font-size: 70%;
    margin-block-start: 0.6em;
}

#selfIntro .container p:last-child {
    margin-block-start: 2em;
}

/* footer */
#contact {
    background-color: #F2EAD3;
    text-align: center;
    padding: 10px 0;
    box-shadow: 5px 5px 15px 3px #3F2305;
    width: 100%;
}

/* social icons */
#contact li {
    list-style-type: none;
    display: inline-block;
}

#contact ul {
    padding: 10px 0;
}

#contact .fa-brands {
    padding: 0 10px;
}

/* wireframes & mockups */
.low-fi-frames,
.mid-fi-frames,
.high-fi-frames {
    padding: 30px 0;
}

.low-fi-frames,
.mid-fi-frames,
.high-fi-frames,
.mockups {
    display: flex;
    overflow: auto;
    grid-gap: 2em;
    /* background-color: #DFD7BF; */
}

.mockups {
    align-items: center;
}

.low-fi-frames img,
.mid-fi-frames img,
.high-fi-frames img,
.mockups img {
    width: 280px;
    box-shadow: 0 0 4px 4px #000000;
}

#cinemagicProject .high-fi-frames {
    align-items: flex-start;
}

#frugalityFirstProject .high-fi-frames {
    align-items: center;
}

#healthyEatsProject .high-fi-frames {
    height: 500px;
    align-items: center;
}

#healthyEatsProject .high-fi-frames img {
    height: 400px;
    width: 500px;
}

#stitchedProject .mockups {
    height: 400px;
}

#stitchedProject .mockups img {
    height: 320px;
    width: 320px;
}

/* CSS Animation ************************************************************************************************/

svg {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* leaves */
@keyframes leaf-color-change {
    0% {
        fill: #DFD7BF;
    }

    50% {
        fill: #F5F5F5;
    }

    100% {
        fill: #3F2305;
    }
}

.leaf {
    animation: 5s leaf-color-change infinite alternate linear;
}

/* stems */
@keyframes stem-color-change {
    0% {
        fill: #3F3D56;
    }

    50% {
        fill: #3F2305;
    }

    100% {
        fill: #DFD7BF;
    }
}

.stem {
    animation: 2.5s stem-color-change infinite alternate linear;
}

/* shirt */
@keyframes shirt-color-change {
    0% {
        fill: #D0CDE1;
    }

    50% {
        fill: #F2EAD3;
    }

    100% {
        fill: #DFD7BF;
    }
}

.shirt {
    animation: 5s shirt-color-change infinite alternate linear;
}

/* snow */
@keyframes snow-move {
    from {
        transform: translate(50px, 0);
    }

    to {
        transform: translate(50px, 550px);
    }
}

.snow-fall {
    animation: 20s snow-move infinite alternate linear;
}

/* Media queries ************************************************************************************************/

/* medium devices */
@media only screen and (min-width: 640px) {
    /* general */
    body {
        font-size: 18px;
    }

    header {
        text-align: unset;
    }

    nav {
        float: right;
        width: auto;
        margin-top: 24px;
    }

    main {
        padding-top: 80px;
    }

    footer {
        margin-top: 40px;
    }

    /* home */
    #homePage h3 {
        margin-top: 0;
    }

    /* about me */
    #aboutMe picture img {
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }

    /* skills & tools */
    #aboutPage h3 {
        margin-top: 0;
    }

    #aboutMe .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}

/* large devices */
@media only screen and (min-width: 1024px) {
    /* general */
    body {
        font-size: 20px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    footer h2 {
        margin: 17px 0;
    }

    footer .container > p {
        margin-bottom: 7px;
    }

    /* home */
    #homePage .container {
        padding: 0 50px;
    }

    .single-project-container::after {
        content: "";
        display: table;
        clear: both;
    }

    .single-project-column1,
    .single-project-column2 {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* about me */
    .self-info-container {
        display: flex;
    }

    .story-column {
        flex: 60%;
        max-width: 60%;
        padding: 0 20px 0 0;
    }

    .cv-container {
        justify-content: flex-start;
        grid-gap: 25px;
    }

    .skills-column {
        flex: 40%;
        max-width: 40%;
        padding: 0 0 0 20px;
    }

    #aboutPage h2 {
        text-align: unset;
    }

    #aboutPage .col-lg-5 {
        width: 40%;
    }

    #aboutPage .col-lg-7 {
        width: 60%;
    }

    #aboutPage [class*="col-"] {
        padding: 0;
    }

    #aboutPage .col-md-6 {
        width: unset;
    }
}

/* x-large devices */
@media only screen and (min-width: 1440px) {
    /* general */
    body {
        font-size: 22px;
    }

    .single-project-column1 {
        width: 60%;
    }

    .single-project-column2 {
        width: 40%;
    }
}
