/* Guide

Brand Colours:
- Primary: #3F2305
- Secondary: #DFD7BF
- Background: #F5F5F5
- Text: #000000
- Other: #F2EAD3

Google Font:
- Kodchasan: 300lig, 400reg, 400ital, 700bol

Link order:
- link, visited, hover, focus, active

*/

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Default Text Elements */
* {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Kodchasan', sans-serif;
    background-color: #F5F5F5;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: 2.75em;
}

h2 {
    font-size: 2.25em;
}

h3,
h4,
h5 {
    font-weight: 400;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 0.75em;
}

img {
    width: 100%;
}

/* Link Stylings */
a,
.fa-brands.fa-twitter,
.fa-brands.fa-dribbble,
.fa-brands.fa-instagram,
.fa-brands.fa-square-behance {
    color: #3F2305;
    text-decoration: none;
}

a:visited {
    color: #DFD7BF;
}

a:hover,
a:focus {
    color: #3F2305;
    text-decoration: underline;
}

a:active {
    color: #F2EAD3;
}

.fa-brands.fa-twitter:hover,
.fa-brands.fa-dribbble:hover,
.fa-brands.fa-instagram:hover,
.fa-brands.fa-square-behance:hover,
.fa-brands.fa-twitter:focus,
.fa-brands.fa-dribbble:focus,
.fa-brands.fa-instagram:focus,
.fa-brands.fa-square-behance:focus {
    color: #F2EAD3;
}

/* project links */
.button {
    background-color: #3F2305;
    font-weight: 400;
    color: #F2EAD3;
    padding: 10px;
    border-radius: 5px;
    border-bottom: #DFD7BF solid 2px;
}

.button:hover {
    background-color: #F2EAD3;
    opacity: 0.8;
    text-decoration: none;
}

.button:active {
    color: #3F2305;
    font-weight: 700;
}