/* Guide

Brand Colours:
- Primary: #3F2305
- Secondary: #DFD7BF
- Background: #F5F5F5
- Text: #000000
- Other: #F2EAD3

Google Font:
- Kodchasan: 300lig, 400reg, 400ital, 700bol

Links Order:
- link, visited, hover, focus, active
colours:
- visited = default
- hover/focus = active
- hover/focus ≠ default

*/

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* general ************************************************************************************************/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Kodchasan', sans-serif;
    background-color: #F5F5F5;
    color: #000000;
}

main {
    padding-top: 80px;
}

/* left & right for all pages */
.container {
    padding: 0 15px;
}

/* headings */
h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: 2.55em;
}

h2 {
    font-size: 2.25em;
}

h3,
h4 {
    font-weight: 400;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.25em;
}

img {
    width: 100%;
}

/* anchor links */
a,
a:visited {
    color: #3F2305;
}

a:hover,
a:focus {
    color: #DFD7BF;
    text-decoration: none;
}

a:active {
    color: #DFD7BF;
}

/* small navbar ************************************************************************************************/

#bigNav {
    display: none;
}

.logo-and-bars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
.logo {
    width: 150px;
}

#smallNav {
    background-color: #C4B37D;
    text-align: center;
    padding: 10px 0;
    box-shadow: 5px 5px 15px 3px #3F2305;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#smallNav .links {
    display: none;
}

#smallNav .links ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 1rem;
}

#smallNav li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

#smallNav .links a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: left;
    padding: 0.6rem 0;
}

/* overlay */
.overlay {
    background-color: #3F2305;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.2;
    display: none;
}

/* burger icon */
.fa-solid.fa-solid {
    cursor: pointer;
    font-size: 2rem;
    color: #3F2305;
    text-decoration: none;
    padding: 0 15px 0 0;
}

.fa-solid:visited {
    color: #3F2305;
}

.fa-solid:hover,
.fa-solid:focus,
.fa-solid:active {
    color: #DFD7BF;
}

/* cross icon */
.fa-xmark {
    position: fixed;
    right: 2px;
    top: 26px;
}

.hide-icon {
    visibility: hidden;
}

/* footer ************************************************************************************************/

#contact {
    background-color: #F2EAD3;
    text-align: center;
    padding: 10px 0;
    box-shadow: 5px 5px 15px 3px #3F2305;
    width: 100%;
    margin-top: 3em;
}

/* email link */
.button.email {
    background-color: transparent;
    color: #3F2305;
    text-transform: uppercase;
    border: 2px solid #3F2305;
}

.button.email:visited {
    background-color: transparent;
    color: #3F2305;
}

.button.email:hover,
.button.email:focus {
    background-color: #3F2305;
    color: #F2EAD3;
}

.button.email:active {
    background-color: #3F2305;
    color: #F2EAD3;
    font-weight: 700;
}

/* footer icons */
#contact ul {
    padding: 10px 0;
}

#contact li {
    list-style-type: none;
    display: inline-block;
}

.fa-brands {
    font-size: 2rem;
    color: #3F2305;
    text-decoration: none;
    padding: 0 10px;
}

.fa-brands:visited {
    color: #3F2305;
}

.fa-brands:hover,
.fa-brands:focus,
.fa-brands:active {
    color: #DFD7BF;
}

/* home page ************************************************************************************************/

/* titles */
#homePage h1,
#homePage h2 {
    text-align: center;
}

#selfIntro {
    background-color: #F2EAD3;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#selfIntro h1 {
    color: #3F2305;
}

#selfIntro span {
    display: block;
    font-size: 70%;
    margin-block-start: 0.6em;
    color: #000000;
}

#selfIntro .container p:last-child {
    margin-block-start: 2em;
}

/* project thumbnails */
#projects .row {
    margin: 25px 0;
    border-bottom: 2px solid #3F230533;
    /* added '33' for 20% transparency */
    padding-bottom: 25px;
}

#projects .row:last-child {
    margin: 0;
    border-bottom: none;
    padding-bottom: 0;
}

#projects span {
    font-weight: bold;
}

/* "read more" links */
.button {
    background-color: #F2EAD3;
    color: #3F2305;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border-bottom: #3F2305 solid 2px;
    text-decoration: none;
    transition: all 0.2s;
}

.button:visited {
    background-color: #F2EAD3;
    color: #3F2305;
}

.button:hover {
    background-color: #000000;
    color: #DFD7BF;
    opacity: 0.8;
    text-decoration: none;
}

.button:focus,
.button:active {
    background-color: #000000;
    color: #DFD7BF;
    text-decoration: none;
}

/* about page ************************************************************************************************/

/* title */
#aboutMe h1 {
    text-align: center;
}

/* image */
.avatar {
    display: flex;
    justify-content: center;
}

.avatar img {
    border: 10px solid #F2EAD3;
    box-shadow: 5px 5px 5px 5px #3F2305;
    max-width: 300px;
    padding: 5px;
}

#aboutPage ul li {
    list-style-type: square;
}

/* project pages ************************************************************************************************/

/* user-research */
.user-research {
    display: flex;
    flex-direction: column;
    overflow: auto;
    grid-gap: 2em;
}

.user-research img {
    height: 390px;
    width: 525px;
}

#frugalityFirstProject .user-research img {
    height: 500px;
    width: 700px;
}

/* wireframes & mockups */
.low-fi-frames,
.mid-fi-frames,
.high-fi-frames,
.mockups {
    display: flex;
    overflow: auto;
    grid-gap: 2em;
    padding: 30px 10px;
}

.mockups {
    align-items: center;
}

.low-fi-frames img,
.mid-fi-frames img,
.high-fi-frames img,
.mockups img {
    width: 280px;
    box-shadow: 0 0 4px 4px #000000;
}

/* specific projects */
#cinemagicProject .high-fi-frames {
    align-items: flex-start;
}

#frugalityFirstProject .high-fi-frames {
    align-items: center;
}

#healthyEatsProject .high-fi-frames {
    height: 500px;
    align-items: center;
}

#healthyEatsProject .high-fi-frames img {
    height: 400px;
    width: 500px;
}

#stitchedProject .mockups {
    height: 500px;
}

/* css animation ************************************************************************************************/

/* svg image */
svg {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* leaves */
@keyframes leaf-color-change {
    0% {
        fill: #DFD7BF;
    }

    50% {
        fill: #F5F5F5;
    }

    100% {
        fill: #3F2305;
    }
}

.leaf {
    animation: 5s leaf-color-change infinite alternate linear;
}

/* stems */
@keyframes stem-color-change {
    0% {
        fill: #3F3D56;
    }

    50% {
        fill: #3F2305;
    }

    100% {
        fill: #DFD7BF;
    }
}

.stem {
    animation: 2.5s stem-color-change infinite alternate linear;
}

/* shirt */
@keyframes shirt-color-change {
    0% {
        fill: #D0CDE1;
    }

    50% {
        fill: #F2EAD3;
    }

    100% {
        fill: #DFD7BF;
    }
}

.shirt {
    animation: 5s shirt-color-change infinite alternate linear;
}

/* snow */
@keyframes snow-move {
    from {
        transform: translate(50px, 0);
    }

    to {
        transform: translate(50px, 550px);
    }
}

.snow-fall {
    animation: 20s snow-move infinite alternate linear;
}

/* media queries ************************************************************************************************/

/* medium devices */
@media only screen and (min-width: 640px) {
    /* general ************************************************************************************************/

    body {
        font-size: 18px;
    }

    main {
        padding-top: 84.98px;
    }

    footer {
        margin-top: 40px;
    }

    /* big navbar ************************************************************************************************/

    #smallNav {
        display: none;
    }

    /* header container */
    #bigNav {
        display: flex;
        background-color: #C4B37D;
        position: fixed;
        width: 100%;
        padding: 15px 0;
        box-shadow: 5px 5px 15px 3px #3F2305;
    }

    #bigNav .container {
        display: flex;
        align-items: center;
        padding: 0 2em;
        width: 100%;
    }

    /* logo */
    #bigNav .logo img {
        max-width: 140px;
    }

    /* nav links */
    #bigNav nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    #bigNav nav ul {
        padding: 0;
        margin: 0;
    }

    #bigNav li {
        list-style-type: none;
        display: inline-block;
    }

    #bigNav nav ul li a {
        padding: 0 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: #3F2305;
        text-decoration: none;
    }

    #bigNav nav ul li a:visited {
        color: #3F2305;
    }

    #bigNav nav ul li a:hover,
    #bigNav nav ul li a:focus,
    #bigNav nav ul li a:active {
        color: #DFD7BF;
    }

    /* home page ************************************************************************************************/

    #homePage h3 {
        margin-top: 0;
    }

    /* project pages ************************************************************************************************/

    /* projects */
    .project-spacing {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        grid-gap: 0.5em;
    }

    /* user-research */
    .user-research {
        flex-direction: row;
    }

    .user-research img {
        height: 415px;
        width: 550px;
    }

    #cinemagicProject .user-research img {
        height: 450px;
        width: 600px;
    }

    #frugalityFirstProject .user-research img {
        height: 600px;
        width: 800px;
    }

    /* about page ************************************************************************************************/

    /* skills & tools */
    #aboutPage h3 {
        margin-top: 0;
    }

    #aboutMe .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}

/* large devices */
@media only screen and (min-width: 1024px) {
    /* general ************************************************************************************************/

    body {
        font-size: 20px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #bigNav .container {
        max-width: 1500px;
    }

    footer h2 {
        margin: 17px 0;
    }

    footer .container p {
        margin-bottom: 7px;
    }

    /* home page ************************************************************************************************/

    #homePage .container {
        padding: 0 50px;
    }

    .single-project-container::after {
        content: "";
        display: table;
        clear: both;
    }

    .single-project-column1,
    .single-project-column2 {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* project pages ************************************************************************************************/

    /* user-research */
    .user-research img {
        height: 490px;
        width: 590px;
    }

    #cinemagicProject .user-research img {
        height: 600px;
        width: 800px;
    }

    #frugalityFirstProject .user-research img {
        height: 700px;
        width: 1000px;
    }

    /* about page ************************************************************************************************/

    .self-info-container {
        display: flex;
    }

    #aboutPage h2 {
        text-align: unset;
    }

    .story-column {
        flex: 60%;
        max-width: 60%;
        padding: 0 20px 0 0;
    }

    .skills-column {
        flex: 40%;
        max-width: 40%;
        padding: 0 0 0 20px;
    }

    #aboutPage .col-lg-5 {
        width: 40%;
    }

    #aboutPage .col-lg-7 {
        width: 60%;
    }

    #aboutPage [class*="col-"] {
        padding: 0;
    }

    #aboutPage .col-md-6 {
        width: unset;
    }
}

/* x-large devices */
@media only screen and (min-width: 1440px) {
    /* home page ************************************************************************************************/

    .single-project-column1 {
        width: 60%;
    }

    .single-project-column2 {
        width: 40%;
    }
}